@import url('https://fonts.googleapis.com/css?family=Karla:400,700');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7a7a7;
    font-family: 'Karla', sans-serif;
    height: 100vh;
}

span {
    display: block; 
    text-align: center;
    margin: 10px 0;
}

.social_network {
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

a {
    color: #fff;
    font-size: 25px;
    transition: 0.5s;
}

a:hover {
    margin-top: 10px;
    font-size: 30px;
}